@import './base.css';

#app {
  width: 100em;
  min-width: 800px;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-weight: normal;
}

body {
  display: flex;
  /* place-items: center; */
  background-color: rgb(242, 243, 244);
}

main {
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.p-card {
  margin-bottom: 1.5em;
  border-radius: var(--p-border-radius-lg);
}

.p-button {
  margin-right: 0.5em;
  border-radius: var(--p-border-radius-xl);
}

.wrap {
  text-wrap-mode: wrap !important;
  width: 30em;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
  }
} */
