@import './base.css';

#app {
  width: 80rem;
  min-width: 800px;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-weight: normal;
}

body {
  display: flex;
  /* place-items: center; */
  background-color: rgb(242, 243, 244);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Équivalences Tailwind CSS */
.w-full {
  width: 100%;
}

.h-\[25rem\] {
  height: 25rem;
}

.p-card {
  margin-bottom: 1.5em;
  border-radius: var(--p-border-radius-lg);
}

.p-button {
  margin-right: 0.5em;
  border-radius: var(--p-border-radius-xl);
}

.wrap {
  text-wrap-mode: wrap !important;
  width: 30em;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #646f75;
  opacity: 0.5;
  font-size: 11px;
}
